n8n/student-hostel-tool-use-workflow.json
{
  "name": "Lab 08 Student Hostel Tool Use Agent - M Abdullah Fawad",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-hostel-tool-use",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f10b65a-8b6f-4d58-8df8-6501bbd91991",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1040, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "=[]",
              "type": "array"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ [ { role: 'system', content: 'You are a Pakistani Student Hostel Planner. Use tools for hostel room cost, transport cost, weather, and currency. Return final JSON when enough data is collected.' }, { role: 'user', content: $json.body.query } ] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "ebc919a8-20ce-4a4b-a11b-8fc11a8f95d2",
      "name": "Initialize State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-820, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": "={{ Number($json.turn_count || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "={{ $json.tool_calls || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "59c91190-269c-4d31-b4c8-b02ae2a33630",
      "name": "Turn Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-600, 0]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.turn_count }}",
              "operation": "larger",
              "value2": 4
            }
          ]
        },
        "options": {}
      },
      "id": "234d0ad0-5a63-4205-91fb-428342a671bf",
      "name": "Stop After 4 Turns",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-380, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.1-8b-instant', messages: $json.messages, temperature: 0.2, tool_choice: 'auto', tools: [ { type: 'function', function: { name: 'get_weather', description: 'Get simulated weather for a Pakistani city.', parameters: { type: 'object', properties: { city: { type: 'string' } }, required: ['city'] } } }, { type: 'function', function: { name: 'convert_currency', description: 'Convert a cost between PKR, USD, GBP, or AED.', parameters: { type: 'object', properties: { amount: { type: 'number' }, from_currency: { type: 'string' }, to_currency: { type: 'string' } }, required: ['amount', 'from_currency', 'to_currency'] } } }, { type: 'function', function: { name: 'get_room_cost', description: 'Get monthly hostel room cost near a Pakistani university. Call this for room rent or hostel cost.', parameters: { type: 'object', properties: { city: { type: 'string' }, university: { type: 'string' } }, required: ['city', 'university'] } } }, { type: 'function', function: { name: 'get_transport_cost', description: 'Estimate student transport cost between Pakistani cities.', parameters: { type: 'object', properties: { from_city: { type: 'string' }, to_city: { type: 'string' } }, required: ['from_city', 'to_city'] } } } ] } }}",
        "options": {}
      },
      "id": "a028e8ec-2b21-48ea-9422-b70cf7b700ad",
      "name": "Travel Assistant LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.choices?.[0]?.message?.tool_calls?.[0]?.function?.name || 'final' }}",
                    "operation": "equals",
                    "value2": "get_weather"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "weather"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.choices?.[0]?.message?.tool_calls?.[0]?.function?.name || 'final' }}",
                    "operation": "equals",
                    "value2": "convert_currency"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "currency"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.choices?.[0]?.message?.tool_calls?.[0]?.function?.name || 'final' }}",
                    "operation": "equals",
                    "value2": "get_room_cost"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "room"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.choices?.[0]?.message?.tool_calls?.[0]?.function?.name || 'final' }}",
                    "operation": "equals",
                    "value2": "get_transport_cost"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "transport"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "a6f3cfd7-8b29-4a83-ab56-b8a60b48aa96",
      "name": "Detect Tool Call",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [120, 0]
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.choices[0].message.tool_calls[0];\nconst args = JSON.parse(toolCall.function.arguments || '{}');\nconst weather = {\n  islamabad: { temperature: '28 deg C', condition: 'Partly Cloudy', humidity: '55%' },\n  karachi: { temperature: '34 deg C', condition: 'Hot and Sunny', humidity: '70%' },\n  lahore: { temperature: '32 deg C', condition: 'Hazy', humidity: '60%' }\n};\nconst city = (args.city || 'Islamabad').toLowerCase();\nreturn [{ json: { tool_call_id: toolCall.id, tool_name: 'get_weather', arguments: args, result: { city: args.city || 'Islamabad', ...(weather[city] || weather.islamabad) } } }];"
      },
      "id": "e7720951-a305-4e9d-b526-a9d2cc84059e",
      "name": "Weather Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -240]
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.choices[0].message.tool_calls[0];\nconst args = JSON.parse(toolCall.function.arguments || '{}');\nconst rates = { PKR: 1, USD: 278.5, GBP: 352, AED: 75.8 };\nconst from = String(args.from_currency || 'PKR').toUpperCase();\nconst to = String(args.to_currency || 'PKR').toUpperCase();\nconst pkr = Number(args.amount || 0) * rates[from];\nconst converted = pkr / rates[to];\nreturn [{ json: { tool_call_id: toolCall.id, tool_name: 'convert_currency', arguments: args, result: { original: `${args.amount} ${from}`, converted: `${converted.toFixed(2)} ${to}` } } }];"
      },
      "id": "34f3e472-f452-4b89-b8f6-3cf6d81b4e8c",
      "name": "Currency Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -80]
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.choices[0].message.tool_calls[0];\nconst args = JSON.parse(toolCall.function.arguments || '{}');\nconst city = String(args.city || 'Lahore').toLowerCase();\nconst base = city === 'islamabad' ? 32000 : city === 'karachi' ? 26000 : 24000;\nreturn [{ json: { tool_call_id: toolCall.id, tool_name: 'get_room_cost', arguments: args, result: { city: args.city || 'Lahore', university: args.university || 'University area', monthly_room_cost: `PKR ${base.toLocaleString()}`, note: 'Shared hostel room estimate near campus.' } } }];"
      },
      "id": "3dbac1e1-dcb3-4884-b343-73d8e15f2aca",
      "name": "Room Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 80]
    },
    {
      "parameters": {
        "jsCode": "const toolCall = $json.choices[0].message.tool_calls[0];\nconst args = JSON.parse(toolCall.function.arguments || '{}');\nconst routes = { 'lahore-karachi': 7500, 'islamabad-lahore': 3200, 'islamabad-karachi': 9000 };\nconst key = `${String(args.from_city || '').toLowerCase()}-${String(args.to_city || '').toLowerCase()}`;\nconst reverse = `${String(args.to_city || '').toLowerCase()}-${String(args.from_city || '').toLowerCase()}`;\nconst cost = routes[key] || routes[reverse] || 5000;\nreturn [{ json: { tool_call_id: toolCall.id, tool_name: 'get_transport_cost', arguments: args, result: { route: `${args.from_city} to ${args.to_city}`, estimated_cost: `PKR ${cost.toLocaleString()}`, mode: 'Bus or economy train estimate' } } }];"
      },
      "id": "3c875a27-00dc-424d-9803-44cde51f9555",
      "name": "Transport Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 240]
    },
    {
      "parameters": {
        "jsCode": "const current = $items('Turn Counter').at(-1).json;\nconst toolMessage = { role: 'tool', tool_call_id: $json.tool_call_id, content: JSON.stringify($json.result) };\nconst assistantMessage = $items('Travel Assistant LLM').at(-1).json.choices[0].message;\nreturn [{ json: { ...current, messages: [...current.messages, assistantMessage, toolMessage], tool_calls: [...(current.tool_calls || []), { tool_name: $json.tool_name, arguments: $json.arguments, result: $json.result }] } }];"
      },
      "id": "3303fd57-6d84-49c2-a7cc-bb22f4a8c71f",
      "name": "Inject Tool Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.choices?.[0]?.message?.content || 'Stopped after max turns. Review tool_calls for partial results.', tool_call_count: ($items('Turn Counter').at(-1).json.tool_calls || []).length, tool_calls: $items('Turn Counter').at(-1).json.tool_calls || [], domain: 'Student Hostel Planner' } }}",
        "options": {}
      },
      "id": "b5c06f19-6ead-4823-a52c-f591a61f6896",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [420, 480]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Initialize State", "type": "main", "index": 0 }]]
    },
    "Initialize State": {
      "main": [[{ "node": "Turn Counter", "type": "main", "index": 0 }]]
    },
    "Turn Counter": {
      "main": [[{ "node": "Stop After 4 Turns", "type": "main", "index": 0 }]]
    },
    "Stop After 4 Turns": {
      "main": [
        [{ "node": "Final Response", "type": "main", "index": 0 }],
        [{ "node": "Travel Assistant LLM", "type": "main", "index": 0 }]
      ]
    },
    "Travel Assistant LLM": {
      "main": [[{ "node": "Detect Tool Call", "type": "main", "index": 0 }]]
    },
    "Detect Tool Call": {
      "main": [
        [{ "node": "Weather Tool", "type": "main", "index": 0 }],
        [{ "node": "Currency Tool", "type": "main", "index": 0 }],
        [{ "node": "Room Cost Tool", "type": "main", "index": 0 }],
        [{ "node": "Transport Cost Tool", "type": "main", "index": 0 }],
        [{ "node": "Final Response", "type": "main", "index": 0 }]
      ]
    },
    "Weather Tool": {
      "main": [[{ "node": "Inject Tool Result", "type": "main", "index": 0 }]]
    },
    "Currency Tool": {
      "main": [[{ "node": "Inject Tool Result", "type": "main", "index": 0 }]]
    },
    "Room Cost Tool": {
      "main": [[{ "node": "Inject Tool Result", "type": "main", "index": 0 }]]
    },
    "Transport Cost Tool": {
      "main": [[{ "node": "Inject Tool Result", "type": "main", "index": 0 }]]
    },
    "Inject Tool Result": {
      "main": [[{ "node": "Turn Counter", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "versionId": "6ab2f7a2-3b11-4b49-b909-5d6a066f264f"
}
