n8n/student-hostel-tool-use-workflow.json
{
  "name": "Lab 08 Student Hostel Tool Use Agent - M Abdullah Fawad",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-hostel-tool-use",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f10b65a-8b6f-4d58-8df8-6501bbd91991",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "=[]",
              "type": "array"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ [ { role: 'system', content: 'You are a Pakistani Student Hostel Planner. Pick needed tools for room, transport, weather, and currency. Use tool calls when a fact should be looked up.' }, { role: 'user', content: $json.body.query } ] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "ebc919a8-20ce-4a4b-a11b-8fc11a8f95d2",
      "name": "Initialize State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": "={{ Number($json.turn_count || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "={{ $json.tool_calls || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "59c91190-269c-4d31-b4c8-b02ae2a33630",
      "name": "Turn Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.turn_count }}",
              "operation": "smallerEqual",
              "value2": 4
            }
          ]
        },
        "options": {}
      },
      "id": "234d0ad0-5a63-4205-91fb-428342a671bf",
      "name": "Stop After 4 Turns",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_YOUR_ROTATED_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.1-8b-instant', messages: $json.messages, temperature: 0, max_tokens: 120, tool_choice: 'auto', parallel_tool_calls: true, tools: [ { type: 'function', function: { name: 'get_weather', description: 'Weather by city.', parameters: { type: 'object', properties: { city: { type: 'string' } }, required: ['city'] } } }, { type: 'function', function: { name: 'convert_currency', description: 'Convert money.', parameters: { type: 'object', properties: { amount: { type: 'number' }, from_currency: { type: 'string' }, to_currency: { type: 'string' } }, required: ['amount', 'from_currency', 'to_currency'] } } }, { type: 'function', function: { name: 'get_room_cost', description: 'Hostel room cost.', parameters: { type: 'object', properties: { city: { type: 'string' }, university: { type: 'string' } }, required: ['city', 'university'] } } }, { type: 'function', function: { name: 'get_transport_cost', description: 'Transport cost.', parameters: { type: 'object', properties: { from_city: { type: 'string' }, to_city: { type: 'string' } }, required: ['from_city', 'to_city'] } } } ] } }}",
        "options": {}
      },
      "id": "a028e8ec-2b21-48ea-9422-b70cf7b700ad",
      "name": "Travel Assistant LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        0
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3500,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const current = $items('Turn Counter').at(-1).json;\nconst query = String(current.query || current.messages?.find(m => m.role === 'user')?.content || '').toLowerCase();\nconst message = $json.choices?.[0]?.message || {};\nconst toolCalls = Array.isArray(message.tool_calls) ? message.tool_calls : [];\n\nconst cityNames = ['islamabad', 'lahore', 'karachi'];\nconst title = (text, fallback = '') => text ? text.charAt(0).toUpperCase() + text.slice(1) : fallback;\nconst mentionedCity = cityNames.find(city => query.includes(city)) || 'lahore';\nconst fromMatch = query.match(/from\\s+(islamabad|lahore|karachi)\\s+to\\s+(islamabad|lahore|karachi)/i);\nconst toCurrency = query.includes('gbp') ? 'GBP' : query.includes('usd') ? 'USD' : query.includes('aed') ? 'AED' : '';\nconst university = query.includes('punjab') ? 'Punjab University' : query.includes('nust') ? 'NUST' : 'University area';\n\nconst plan = {\n  weather: /weather|temperature|forecast/.test(query),\n  currency: /currency|convert|gbp|usd|aed|foreign/.test(query),\n  room: /hostel|room|rent|university|campus|accommodation/.test(query),\n  transport: /transport|travel|bus|train|from\\s+.+\\s+to/.test(query),\n  city: title(mentionedCity, 'Lahore'),\n  university,\n  from_city: fromMatch ? title(fromMatch[1]) : 'Islamabad',\n  to_city: fromMatch ? title(fromMatch[2]) : title(mentionedCity, 'Lahore'),\n  to_currency: toCurrency || 'PKR'\n};\n\nfor (const call of toolCalls) {\n  const name = call.function?.name;\n  let args = {};\n  try { args = JSON.parse(call.function?.arguments || '{}'); } catch (error) { args = {}; }\n  if (name === 'get_weather') { plan.weather = true; plan.city = args.city || plan.city; }\n  if (name === 'get_room_cost') { plan.room = true; plan.city = args.city || plan.city; plan.university = args.university || plan.university; }\n  if (name === 'get_transport_cost') { plan.transport = true; plan.from_city = args.from_city || plan.from_city; plan.to_city = args.to_city || plan.to_city; }\n  if (name === 'convert_currency') { plan.currency = true; plan.to_currency = args.to_currency || plan.to_currency; }\n}\n\nif (!plan.room && !plan.transport && !plan.weather && !plan.currency) {\n  plan.room = true;\n}\n\nreturn [{ json: { ...current, plan, results: {}, tool_calls: [], llm_rate_limited: Boolean($json.error) } }];"
      },
      "id": "a6f3cfd7-8b29-4a83-ab56-b8a60b48aa96",
      "name": "Detect Tool Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $json.plan || {};\nconst results = $json.results || {};\nconst calls = $json.tool_calls || [];\nif (plan.weather) {\n  const weather = {\n    islamabad: { temperature: '28 deg C', condition: 'Partly Cloudy', humidity: '55%' },\n    karachi: { temperature: '34 deg C', condition: 'Hot and Sunny', humidity: '70%' },\n    lahore: { temperature: '32 deg C', condition: 'Hazy', humidity: '60%' }\n  };\n  const city = String(plan.city || 'Lahore').toLowerCase();\n  results.weather = { city: plan.city || 'Lahore', ...(weather[city] || weather.lahore) };\n  calls.push({ tool_name: 'get_weather', arguments: { city: plan.city || 'Lahore' }, result: results.weather });\n}\nreturn [{ json: { ...$json, results, tool_calls: calls } }];"
      },
      "id": "e7720951-a305-4e9d-b526-a9d2cc84059e",
      "name": "Weather Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $json.plan || {};\nconst results = $json.results || {};\nconst calls = $json.tool_calls || [];\nif (plan.currency) {\n  const rates = { PKR: 1, USD: 278.5, GBP: 352, AED: 75.8 };\n  const to = String(plan.to_currency || 'PKR').toUpperCase();\n  const amount = Number(results.room?.monthly_room_cost_pkr || 24000) + Number(results.transport?.estimated_cost_pkr || 0);\n  const converted = amount / (rates[to] || 1);\n  results.currency = { original: `${amount.toLocaleString()} PKR`, converted: `${converted.toFixed(2)} ${to}` };\n  calls.push({ tool_name: 'convert_currency', arguments: { amount, from_currency: 'PKR', to_currency: to }, result: results.currency });\n}\nreturn [{ json: { ...$json, results, tool_calls: calls } }];"
      },
      "id": "34f3e472-f452-4b89-b8f6-3cf6d81b4e8c",
      "name": "Currency Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $json.plan || {};\nconst results = $json.results || {};\nconst calls = $json.tool_calls || [];\nif (plan.room) {\n  const city = String(plan.city || 'Lahore').toLowerCase();\n  const base = city === 'islamabad' ? 32000 : city === 'karachi' ? 26000 : 24000;\n  results.room = { city: plan.city || 'Lahore', university: plan.university || 'University area', monthly_room_cost: `PKR ${base.toLocaleString()}`, monthly_room_cost_pkr: base, note: 'Shared hostel room estimate near campus.' };\n  calls.push({ tool_name: 'get_room_cost', arguments: { city: plan.city || 'Lahore', university: plan.university || 'University area' }, result: results.room });\n}\nreturn [{ json: { ...$json, results, tool_calls: calls } }];"
      },
      "id": "3dbac1e1-dcb3-4884-b343-73d8e15f2aca",
      "name": "Room Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const plan = $json.plan || {};\nconst results = $json.results || {};\nconst calls = $json.tool_calls || [];\nif (plan.transport) {\n  const routes = { 'lahore-karachi': 7500, 'islamabad-lahore': 3200, 'islamabad-karachi': 9000 };\n  const fromCity = String(plan.from_city || 'Islamabad').toLowerCase();\n  const toCity = String(plan.to_city || plan.city || 'Lahore').toLowerCase();\n  const key = `${fromCity}-${toCity}`;\n  const reverse = `${toCity}-${fromCity}`;\n  const cost = routes[key] || routes[reverse] || 5000;\n  results.transport = { route: `${plan.from_city || 'Islamabad'} to ${plan.to_city || plan.city || 'Lahore'}`, estimated_cost: `PKR ${cost.toLocaleString()}`, estimated_cost_pkr: cost, mode: 'Bus or economy train estimate' };\n  calls.push({ tool_name: 'get_transport_cost', arguments: { from_city: plan.from_city || 'Islamabad', to_city: plan.to_city || plan.city || 'Lahore' }, result: results.transport });\n}\nreturn [{ json: { ...$json, results, tool_calls: calls } }];"
      },
      "id": "3c875a27-00dc-424d-9803-44cde51f9555",
      "name": "Transport Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $json.results || {};\nconst parts = [];\nif (results.room) parts.push(`Room near ${results.room.university} in ${results.room.city}: ${results.room.monthly_room_cost} per month (${results.room.note})`);\nif (results.transport) parts.push(`Transport ${results.transport.route}: ${results.transport.estimated_cost} by ${results.transport.mode}.`);\nif (results.weather) parts.push(`Weather in ${results.weather.city}: ${results.weather.temperature}, ${results.weather.condition}, humidity ${results.weather.humidity}.`);\nif (results.currency) parts.push(`Converted estimated cost: ${results.currency.converted} (${results.currency.original}).`);\nconst note = $json.llm_rate_limited ? ' Groq was rate-limited, so the workflow used the deterministic local tool router.' : '';\nreturn [{ json: { ...$json, final_answer: `${parts.join(' ')}${note}`.trim() || 'No matching tool was required.', tool_call_count: ($json.tool_calls || []).length } }];"
      },
      "id": "3303fd57-6d84-49c2-a7cc-bb22f4a8c71f",
      "name": "Inject Tool Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { answer: $json.final_answer || 'No final answer generated.', tool_call_count: $json.tool_call_count || ($json.tool_calls || []).length, tool_calls: $json.tool_calls || [], domain: 'Student Hostel Planner', turn_count: $json.turn_count || 1 } }}",
        "options": {}
      },
      "id": "b5c06f19-6ead-4823-a52c-f591a61f6896",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Turn Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn Counter": {
      "main": [
        [
          {
            "node": "Stop After 4 Turns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop After 4 Turns": {
      "main": [
        [
          {
            "node": "Travel Assistant LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Travel Assistant LLM": {
      "main": [
        [
          {
            "node": "Detect Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Tool Call": {
      "main": [
        [
          {
            "node": "Weather Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "main": [
        [
          {
            "node": "Room Cost Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Room Cost Tool": {
      "main": [
        [
          {
            "node": "Transport Cost Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transport Cost Tool": {
      "main": [
        [
          {
            "node": "Currency Tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency Tool": {
      "main": [
        [
          {
            "node": "Inject Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Tool Result": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "versionId": "6ab2f7a2-3b11-4b49-b909-5d6a066f264f"
}