n8n/student-hostel-tool-use-workflow.json
{
  "name": "Lab 08 Student Hostel Tool Use Agent - M Abdullah Fawad",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "student-hostel-tool-use",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f10b65a-8b6f-4d58-8df8-6501bbd91991",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "query",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            },
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "=[]",
              "type": "array"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ [ { role: 'system', content: 'You are a Pakistani Student Hostel Planner. Use at most one tool per turn. Tools: room, transport, weather, currency. Never repeat a tool with the same arguments. If a requested fact is already in tool results, use it. When enough facts are collected, answer briefly.' }, { role: 'user', content: $json.body.query } ] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "ebc919a8-20ce-4a4b-a11b-8fc11a8f95d2",
      "name": "Initialize State",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -820,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "turn_count",
              "name": "turn_count",
              "value": "={{ Number($json.turn_count || 0) + 1 }}",
              "type": "number"
            },
            {
              "id": "messages",
              "name": "messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            },
            {
              "id": "tool_calls",
              "name": "tool_calls",
              "value": "={{ $json.tool_calls || [] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "59c91190-269c-4d31-b4c8-b02ae2a33630",
      "name": "Turn Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.turn_count }}",
              "operation": "smaller",
              "value2": 5
            }
          ]
        },
        "options": {}
      },
      "id": "234d0ad0-5a63-4205-91fb-428342a671bf",
      "name": "Stop After 4 Turns",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PASTE_YOUR_ROTATED_GROQ_API_KEY_HERE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.1-8b-instant', messages: (() => { const raw = $json.messages || []; const compact = raw.length > 10 ? [raw[0], raw[1], ...raw.slice(-8)].filter(Boolean) : raw; const out = []; const validToolIds = new Set(); for (const m of compact) { if (!m || !m.role) continue; if (m.role === 'assistant' && Array.isArray(m.tool_calls)) { const calls = m.tool_calls.map(tc => { const name = tc.function?.name || tc.name || tc.tool_name; const id = tc.id || tc.tool_call_id; if (!name || !id) return null; const args = typeof tc.function?.arguments === 'string' ? tc.function.arguments : JSON.stringify(tc.function?.arguments || tc.arguments || {}); return { id, type: 'function', function: { name, arguments: args } }; }).filter(Boolean); if (calls.length) { calls.forEach(tc => validToolIds.add(tc.id)); out.push({ role: 'assistant', content: m.content ?? null, tool_calls: calls }); } else if (m.content) { out.push({ role: 'assistant', content: String(m.content) }); } continue; } if (m.role === 'tool') { if (m.tool_call_id && validToolIds.has(m.tool_call_id)) { out.push({ role: 'tool', tool_call_id: m.tool_call_id, content: typeof m.content === 'string' ? m.content : JSON.stringify(m.content || {}) }); } continue; } if (['system', 'user', 'assistant'].includes(m.role)) { out.push({ role: m.role, content: String(m.content ?? '') }); } } return out; })(), temperature: 0.1, max_tokens: 220, tool_choice: 'auto', parallel_tool_calls: false, tools: [ { type: 'function', function: { name: 'get_weather', description: 'Weather by city.', parameters: { type: 'object', properties: { city: { type: 'string' } }, required: ['city'] } } }, { type: 'function', function: { name: 'convert_currency', description: 'Convert money.', parameters: { type: 'object', properties: { amount: { type: 'number' }, from_currency: { type: 'string' }, to_currency: { type: 'string' } }, required: ['amount', 'from_currency', 'to_currency'] } } }, { type: 'function', function: { name: 'get_room_cost', description: 'Hostel room cost.', parameters: { type: 'object', properties: { city: { type: 'string' }, university: { type: 'string' } }, required: ['city', 'university'] } } }, { type: 'function', function: { name: 'get_transport_cost', description: 'Transport cost.', parameters: { type: 'object', properties: { from_city: { type: 'string' }, to_city: { type: 'string' } }, required: ['from_city', 'to_city'] } } } ] } }}",
        "options": {}
      },
      "id": "a028e8ec-2b21-48ea-9422-b70cf7b700ad",
      "name": "Travel Assistant LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.route || 'final' }}",
                    "operation": "equals",
                    "value2": "get_weather"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "weather"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.route || 'final' }}",
                    "operation": "equals",
                    "value2": "convert_currency"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "currency"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.route || 'final' }}",
                    "operation": "equals",
                    "value2": "get_room_cost"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "room"
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.route || 'final' }}",
                    "operation": "equals",
                    "value2": "get_transport_cost"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "transport"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "a6f3cfd7-8b29-4a83-ab56-b8a60b48aa96",
      "name": "Detect Tool Call",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const args = $json.arguments || {};\nconst weather = {\n  islamabad: { temperature: '28 deg C', condition: 'Partly Cloudy', humidity: '55%' },\n  karachi: { temperature: '34 deg C', condition: 'Hot and Sunny', humidity: '70%' },\n  lahore: { temperature: '32 deg C', condition: 'Hazy', humidity: '60%' }\n};\nconst city = String(args.city || 'Islamabad').toLowerCase();\nreturn [{ json: { ...$json, result: { city: args.city || 'Islamabad', ...(weather[city] || weather.islamabad) } } }];"
      },
      "id": "e7720951-a305-4e9d-b526-a9d2cc84059e",
      "name": "Weather Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        -260
      ]
    },
    {
      "parameters": {
        "jsCode": "const args = $json.arguments || {};\nconst rates = { PKR: 1, USD: 278.5, GBP: 352, AED: 75.8 };\nconst from = String(args.from_currency || 'PKR').toUpperCase();\nconst to = String(args.to_currency || 'PKR').toUpperCase();\nconst amount = Number(args.amount || 0);\nconst pkr = amount * (rates[from] || 1);\nconst converted = pkr / (rates[to] || 1);\nreturn [{ json: { ...$json, result: { original: `${amount} ${from}`, converted: `${converted.toFixed(2)} ${to}` } } }];"
      },
      "id": "34f3e472-f452-4b89-b8f6-3cf6d81b4e8c",
      "name": "Currency Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        -90
      ]
    },
    {
      "parameters": {
        "jsCode": "const args = $json.arguments || {};\nconst city = String(args.city || 'Lahore').toLowerCase();\nconst base = city === 'islamabad' ? 32000 : city === 'karachi' ? 26000 : 24000;\nreturn [{ json: { ...$json, result: { city: args.city || 'Lahore', university: args.university || 'University area', monthly_room_cost: `PKR ${base.toLocaleString()}`, note: 'Shared hostel room estimate near campus.' } } }];"
      },
      "id": "3dbac1e1-dcb3-4884-b343-73d8e15f2aca",
      "name": "Room Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const args = $json.arguments || {};\nconst routes = { 'lahore-karachi': 7500, 'islamabad-lahore': 3200, 'islamabad-karachi': 9000 };\nconst fromCity = String(args.from_city || '').toLowerCase();\nconst toCity = String(args.to_city || '').toLowerCase();\nconst key = `${fromCity}-${toCity}`;\nconst reverse = `${toCity}-${fromCity}`;\nconst cost = routes[key] || routes[reverse] || 5000;\nreturn [{ json: { ...$json, result: { route: `${args.from_city || 'Origin'} to ${args.to_city || 'Destination'}`, estimated_cost: `PKR ${cost.toLocaleString()}`, mode: 'Bus or economy train estimate' } } }];"
      },
      "id": "3c875a27-00dc-424d-9803-44cde51f9555",
      "name": "Transport Cost Tool",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        250
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = $items('Turn Counter').at(-1).json;\nconst args = $json.arguments || {};\nconst toolName = $json.tool_name;\nconst toolCallId = $json.tool_call_id || `${toolName}-${Date.now()}`;\n\nconst assistantMessage = {\n  role: 'assistant',\n  content: null,\n  tool_calls: [{\n    id: toolCallId,\n    type: 'function',\n    function: {\n      name: toolName,\n      arguments: JSON.stringify(args),\n    },\n  }],\n};\n\nconst toolMessage = {\n  role: 'tool',\n  tool_call_id: toolCallId,\n  content: JSON.stringify($json.result || {}),\n};\n\nreturn [{ json: {\n  ...current,\n  messages: [...(current.messages || []), assistantMessage, toolMessage],\n  tool_calls: [...(current.tool_calls || []), { tool_name: toolName, arguments: args, result: $json.result || {} }],\n} }];"
      },
      "id": "3303fd57-6d84-49c2-a7cc-bb22f4a8c71f",
      "name": "Inject Tool Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        890,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { const calls = $json.tool_calls || $items('Turn Counter').at(-1).json.tool_calls || []; const fallback = calls.length ? 'Collected tool results: ' + calls.map(c => `${c.tool_name}: ${JSON.stringify(c.result || {})}`).join('; ') : 'Stopped after max turns. Try a shorter query or wait for the Groq TPM window to reset.'; return { answer: $json.final_answer || $json.choices?.[0]?.message?.content || fallback, tool_call_count: calls.length, tool_calls: calls, domain: 'Student Hostel Planner' }; })() }}",
        "options": {}
      },
      "id": "b5c06f19-6ead-4823-a52c-f591a61f6896",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        580,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $json;\nconst message = response.choices?.[0]?.message || {};\nconst toolCall = message.tool_calls?.[0];\nconst current = $items('Turn Counter').at(-1).json;\nconst calls = current.tool_calls || [];\n\nconst stable = (value) => JSON.stringify(value || {}, Object.keys(value || {}).sort());\nconst collectedAnswer = (prefix = 'Final answer from collected tool results') => {\n  if (!calls.length) return message.content || 'No final answer generated.';\n  const details = calls.map((call) => `${call.tool_name}: ${JSON.stringify(call.result || {})}`).join('; ');\n  return `${prefix}: ${details}`;\n};\n\nif (!toolCall || !toolCall.function?.name) {\n  return [{ json: {\n    route: 'final',\n    final_answer: message.content || collectedAnswer(),\n    tool_calls: calls,\n    turn_count: current.turn_count || 0,\n    messages: current.messages || [],\n    llm_response: response\n  } }];\n}\n\nlet args = {};\ntry {\n  args = JSON.parse(toolCall.function.arguments || '{}');\n} catch (error) {\n  args = {};\n}\n\nconst requestedSignature = `${toolCall.function.name}:${stable(args)}`;\nconst isDuplicate = calls.some((call) => `${call.tool_name}:${stable(call.arguments)}` === requestedSignature);\nif (isDuplicate || calls.length >= 4) {\n  return [{ json: {\n    route: 'final',\n    final_answer: collectedAnswer('Stopped to avoid repeated tool calls'),\n    tool_calls: calls,\n    turn_count: current.turn_count || 0,\n    messages: current.messages || [],\n    llm_response: response\n  } }];\n}\n\nreturn [{ json: {\n  route: toolCall.function.name,\n  tool_call_id: toolCall.id,\n  tool_name: toolCall.function.name,\n  arguments: args,\n  llm_response: response\n} }];"
      },
      "id": "d70ccde1-3a4b-4b7d-a2fd-7f113ac4f2b1",
      "name": "Normalize LLM Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Initialize State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize State": {
      "main": [
        [
          {
            "node": "Turn Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Turn Counter": {
      "main": [
        [
          {
            "node": "Stop After 4 Turns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stop After 4 Turns": {
      "main": [
        [
          {
            "node": "Travel Assistant LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Travel Assistant LLM": {
      "main": [
        [
          {
            "node": "Normalize LLM Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Tool Call": {
      "main": [
        [
          {
            "node": "Weather Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Currency Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Room Cost Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transport Cost Tool",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather Tool": {
      "main": [
        [
          {
            "node": "Inject Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Currency Tool": {
      "main": [
        [
          {
            "node": "Inject Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Room Cost Tool": {
      "main": [
        [
          {
            "node": "Inject Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transport Cost Tool": {
      "main": [
        [
          {
            "node": "Inject Tool Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Tool Result": {
      "main": [
        [
          {
            "node": "Turn Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LLM Response": {
      "main": [
        [
          {
            "node": "Detect Tool Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "versionId": "6ab2f7a2-3b11-4b49-b909-5d6a066f264f"
}